@import "../../../variables.css";
.container {
  font-family: var(--font-family-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 90vw;
}

.results {
  display: flex;
  flex-wrap: wrap;
  min-width: 80vw;
  justify-content: center;
}

h1 {
  color: var(--color-default-font);
}

.noResult {
  color: var(--color-default-font);
  font-size: 2rem;
  margin: 5vh;
}
