.collectionCon {
  border: 1px solid rgba(170, 147, 144, 0.866);
  border-radius: 10px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: #aa939053;
  margin: 1rem;
}

.collectionCon:hover {
  background-color: #aa93909a;
}
.collectionName {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  font-weight: bold;
}

.collectionDescription {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.actions {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.iconEdit:hover {
  color: blue;
}

.iconDelete:hover {
  color: red;
}
