@import "../../variables.css";
.footer {
  min-height: 7vh;
  width: 100%;
  background-color: var(--color-footer-bg);
  font-size: 1.5rem;
  color: var(--color-footer-font);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
