@import "../../variables.css";

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  background-color: var(--color-navbar-bg);
  font-size: 2.5rem;
  box-shadow: inset 0 0 30px var(--color-navbar-box-shadow);
}

.navbrand {
  color: var(--color-navbrand);
  text-decoration: none;
  cursor: pointer;
  font-size: 3.5rem;
  font-family: var(--font-family-logo);
  font-weight: bold;
}

.navbrand:hover {
  color: var(--color-navbrand-hover);
  text-shadow: 50px rgb(60, 58, 58);
}

.navContainer button {
  width: 5rem;
  height: 4rem;
  border: 2px solid var(--color-default-font);
  background-color: var(--color-button-menu-bg);
}

.navContainer button span {
  font-size: 2rem;
  width: 3rem;
  height: 2rem;
}

.link {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 2rem;
  font-family: var(--font-family-default);
}

.link:hover {
  color: var(--color-link-hover);
  text-shadow: 60px rgb(43, 42, 42);
}

.flags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0vh 1vh;
  width: 16vh;
}

.flag {
  width: 6.5vh;
  padding: 0.5vw;
  cursor: pointer;
}
