@import "./variables.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: var(--font-family-default);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body::after {
  content: "";
  display: block;
  height: 7vh;
}

code {
  font-family: var(--font-family-default);
}
