@import "../../../variables.css";
.container {
  display: flex;
  box-shadow: 5px 5px 15px var(--color-top-item-box-shadow);
  border-radius: 1.5rem;
  margin: 0.8vw;
  min-height: 12rem;
  color: var(--color-top-item-font);
  background-color: var(--color-top-item-bg);
  font-family: var(--font-family-default);
  font-size: 2rem;
}

.itemName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 0.7vw;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.collectionName,
.author {
  font-weight: bold;
  padding: 0;
}

.link {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
  font-family: var(--font-family-default);
}
