.welcome {
  margin: 1rem;
  font-size: 4rem;
  font-style: italic;
}

.title {
  margin: 1.5rem;
  text-align: center;
}

.collectionList {
  list-style-type: none;
}

.noCollection {
  background-color: #aa939053;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-style: italic;
  border: 1px solid rgba(170, 147, 144, 0.866);
  border-radius: 10px;
  margin: 2rem;
}
