.addItemCon {
  margin: 2rem 0rem;
}

.input {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
}

.plus {
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.plus:hover {
  background-color: darkgreen;
}

::placeholder {
  font-size: 2rem;
}

.textField {
  width: 100% !important;
}

.divButton {
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
}
.subBtn {
  font-size: 1.8rem;
  margin: 2rem 0rem 2rem 2rem;
}
