.collectionCon {
  font-size: 3rem;
  padding: 2rem 3rem;
  text-align: center;
}

.collectionCon h1 {
  margin: 1rem;
  font-size: 5rem;
  font-style: italic;
  color: #9d8d7b;
}

.title .textField {
  width: 100% !important;
}

.collectionCon .dataGrid {
  font-size: 1.2rem;
}

.noItems {
  background-color: #aa939053;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-style: italic;
  border: 1px solid rgba(170, 147, 144, 0.866);
  border-radius: 10px;
  margin: 2rem;
}

.btn {
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
}
