.divTitle {
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 5rem;
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
  color: #9d8d7b;
}

.form {
  margin: 2rem 0rem;
}

.name,
.topic,
.image,
.labelImage {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.input {
  font-size: 2rem;
}

.topic > .selects {
  padding-top: 0.75rem;
  font-size: 1.5rem;
}

.image {
  padding: 0.75rem;
}

.divButton {
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
}
.subBtn {
  font-size: 1.8rem;
  margin: 2rem 0rem 2rem 2rem;
}

.textField {
  width: 100% !important;
}
