.mainContainer {
  background-color: whitesmoke;
  padding: 1rem;
}
.mainHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px gray;
  padding: 3rem;
  font-size: 5rem;
  font-style: italic;
  color: #9d8d7b;
}

.topContainers {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  padding: 2rem;
}

@media (max-width: 769px) {
  .topContainers {
    flex-wrap: wrap;
  }
}
