@import "../../../variables.css";

.gridAdditionalInput > div > label {
  padding: 1rem;
  margin-left: 0;
}
.textField {
  width: 100% !important;
}

.booleanGrid {
  padding: 1rem;
}

.booleanGrid span {
  font-size: 1.5rem;
}
