@import "../../../variables.css";

.divTitle {
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
  margin: 1rem;
  padding: 1rem;
  font-family: var(--font-family-default);
  color: var(--color-default-font);
  font-style: italic;
}

.form {
  margin: 2rem 0rem;
}

.textFieldTopic > div,
.inputTypeSelect > div {
  padding-top: 0.35rem;
  font-size: 1.3rem;
  color: var(--color-default-font);
}

.image {
  padding: 0.75rem;
}

.divButton {
  display: flex;
  justify-content: flex-end;
  width: 100% !important;
  font-family: var(--font-family-default);
}

.createBtn {
  display: flex;
  font-size: 1.5rem;
  font-family: var(--font-family-default);
}

.subBtn {
  font-size: 1.8rem;
  margin: 2rem 0rem 2rem 2rem;
}

.textField,
.textFieldTopic,
.textFieldLabel,
.inputTypeSelect,
.inputNumber {
  width: 100% !important;
}

.form ::placeholder,
.form label,
.form input,
.form textarea,
.form menuitem,
.form .description {
  font-size: 1.4rem;
  color: var(--color-default-font);
}

.form ::placeholder,
.form label {
  color: var(--color-default-font-label);
}

ul {
  background-color: var(--color-select-bg);
  color: var(--color-default-font);
}
ul > li {
  font-size: 1.3rem !important;
}

.moreFields {
  font-size: 1.7rem;
  font-family: var(--font-family-default);
  color: var(--color-default-font);
  padding: 1rem;
  width: 100%;
  margin: 0;
}

.form svg {
  color: var(--color-default-font);
}

.additionalInputs {
  padding: 2rem !important;
}

.gridAdditionalInput {
  width: 100%;
}

.form fieldset,
.form fieldset:disabled {
  border: 1px solid var(--color-default-font) !important;
}
